h1{
    color: red;
    text-align: center;
}


ol{
    color: red;
}
var{
    color: blue;
}


h2{
    color: green;
    
}
b{
    color: red;
}
strong{
    color: blue;
}

font{
    color:rgb(204, 83, 43);
    
}
